/* color=#2a5268 */
window {
   font-size: 16px;
   background: transparent;
}

#input {
   border: 3px solid #2a5268;
   border-bottom: 0;
   box-shadow: none;
   border-radius: 0;
}

#inner-box { 
   background: white;
}
#outer-box { 
   padding: 0;
   background: transparent; 
}

#entry {
   background: linear-gradient(to right, #2a5268 24px, transparent 24px, transparent calc(100% - 3px), #2a5268 calc(100% - 3px));
   padding: 12px 0 12px 3px;
   border-bottom: 2px solid #2a5268;
   color: #2a5268;
}

#entry:selected {
   color: white;
   background: linear-gradient(to right, #2a5268 3px, transparent 3px, transparent 23px, #2a5268 23px);
   outline: none;
}

#entry:last-child {
   border-bottom: 3px solid #2a5268;
}
